.hero-container{
    display: flex;
    flex-direction: column;

}
.hero-upper{
    display: flex;
}
.hero-upper-left{
    padding: .5rem .5rem .5rem .5rem;
}
.hero-upper-right{
    padding: .5rem .5rem .5rem 0;
}
.hero-lower{
    padding: .5rem .5rem .5rem .5rem;
    width: 98.7vw;
}
.hero-lower-img{
    height: 88vh;
}
@media screen and (max-width: 940px){
    .hero-upper{
        display: flex;
        flex-direction: column;
    }
    .hero-upper-right{
        padding: .5rem .5rem .5rem 0.5rem;
    }
    .hero-lower{
        padding: .5rem .2rem .5rem .5rem;
        width: 98.7vw;
    }
    .hero-lower-img{
        height: 50vh;
    }
}
